In [18]:
#pip install pandas

In [19]:
 #pip install --upgrade pip

In [20]:
import pandas as pd # importa a biblioteca pandas

In [21]:
# Cria um dicionario com os valores abaixo
Dicionario ={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21],
    
}
Labels=["1ª Linha","2ª Linha","3ª Linha","4ª Linha","5ª Linha",
        "6ªLinha","7ª Linha"] #cria o label

In [22]:
df = pd.DataFrame(Dicionario,index=Labels) #cria o dataframe com os dados do 
#dicionario

In [26]:
df.head(7) #exibe as primeiras 4 linhas do dataframe

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21

In [24]:
df.head(2) #exibe duas linhas do dataframe

          A  B   C
1ª Linha  1  8  15
2ª Linha  2  9  16

In [27]:
df.tail() # exibe as quatro ultimas linhas do dataframe

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21