In [18]:
#pip install pandas

In [19]:
 #pip install --upgrade pip

In [20]:
import pandas as pd # importa a biblioteca pandas a

In [21]:
# Cria um dicionario com os valores abaixo
Dicionario ={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21],
    
}
Labels=["1ª Linha","2ª Linha","3ª Linha","4ª Linha","5ª Linha",
        "6ªLinha","7ª Linha"] #cria o label

In [22]:
df = pd.DataFrame(Dicionario,index=Labels) #cria o dataframe com os dados do 
#dicionario

In [26]:
df.head(7) #exibe as primeiras 4 linhas do dataframe

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21

In [24]:
df.head(2) #exibe duas linhas do dataframe

          A  B   C
1ª Linha  1  8  15
2ª Linha  2  9  16

In [27]:
df.tail() # exibe as quatro ultimas linhas do dataframe

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21

In [28]:
df['D'] = df['C']*df['A'] # operação com coluna

In [29]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [30]:
df.drop('D',axis=1) # exclui a coluna D, axis = 1 é pela coluna

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21

In [31]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [32]:
df.drop('D',axis=1,inplace=True) # exclui a coluna D definitivamente do dataframe

In [33]:
df.head(7)

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ªLinha   6  13  20
7ª Linha  7  14  21

In [34]:
df.iloc[2:5] # exibe da linha 2 a linha 5

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19

In [35]:
df.iloc[2:5,:1] # exibe da linha 3 a 5 e a primeira coluna

          A
3ª Linha  3
4ª Linha  4
5ª Linha  5

In [36]:
df.iloc[2:5,:2] # exibe da linha 2 a linha 5 e da linha 0 a linha 2

          A   B
3ª Linha  3  10
4ª Linha  4  11
5ª Linha  5  12