In [ ]:
#pip install pandas

In [ ]:
 #pip install --upgrade pip

In [1]:
import pandas as pd # importa a biblioteca pandas

In [5]:
# Cria um dicionario com os valores abaixo
Dicionario ={
    "A":[1,2,3,4],
    "B":[5,6,7,8],
    "C":[9,10,11,12]
}
Labels=["1ª Linha","2ª Linha","3ª Linha","4ª Linha"] #cria o label

In [6]:
df = pd.DataFrame(Dicionario,index=Labels) #cria o dataframe com os dados do 
#dicionario

In [7]:
df.head() #exibe as primeiras 4 linhas do dataframe

          A  B   C
1ª Linha  1  5   9
2ª Linha  2  6  10
3ª Linha  3  7  11
4ª Linha  4  8  12

In [8]:
df.head(2) #exibe duas linhas do dataframe

          A  B   C
1ª Linha  1  5   9
2ª Linha  2  6  10